:global {
    @import 'base';
    @import '~normalize.css/normalize';

    // Some best-practice CSS that's useful for most apps
    // Just remove them if they're not what you want
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    html {
        box-sizing: border-box;
    }

    html,
    body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 1em;
        line-height: 1.5;
    }

    button {
        border: none;
        background: transparent;
        font-family: inherit;
        color: inherit;
        cursor: pointer;
    }
}
